{% extends 'base.html' %}


{% block title %} Restaurant {% endblock %}

{% block script %}
    <script>
        $(function() {
            var now = new Date(), pageTitle = document.title;
            setInterval(function() {
                $.ajax({
                    url: '/api/restaurant/order/notification/' + now.toISOString() + '/',
                    method: 'GET',
                    success: function(data) {
                        if (data['notification'] === 0) {
                            $('.badge').text(''); // Clear the text
                        } else {
                            document.title = '(' + data['notification'] +') ' + pageTitle;
                            $('.badge').text(data['notification']);
                        }
                    }
                })
            }, 2000)
        });
    </script>
{% endblock %}

{% block sidebar %}

    {# for the active sidebar buttons #}
    {% url 'restaurant-order' as order_url %}
    {% url 'restaurant-meal' as meal_url %}
    {% url 'restaurant-report' as report_url %}
    {% url 'restaurant-account' as account_url %}

    <div class="text-center">
        <img
            class="img-circle"
            src="{{ MEDIA_URL }}{{ request.user.restaurant.logo }}"
            alt="{{ request.user }}"
            width="70"
            height="70"
        />
        <h4>Hi {{ request.user.get_full_name }}</h4>
        <h5>{{ request.user.restaurant.name }}</h5>
    </div>

    <nav class="list-group">
        <span class="text-uppercase">
            Dashboard
        </span>
        <a
            href="{% url 'restaurant-order' %}"
            class="list-group-item{% if request.path == order_url %} active{% endif %}"
            >Orders
            <span class="badge"></span>
        </a>

        <a
            href="{% url 'restaurant-meal' %}"
            class="list-group-item{% if request.path == meal_url %} active{% endif %}"
            >Meals
        </a>
        <a
            href="{% url 'restaurant-report' %}"
            class="list-group-item{% if request.path == report_url %} active{% endif %}"
            >Reports
        </a>

        <span class="text-uppercase">
            Profile
        </span>
        <a
            href="{% url 'restaurant-account' %}"
            class="list-group-item{% if request.path == account_url %} active{% endif %}"
            >Account
        </a>
    </nav>

    <nav class="text-center">
        <a
            href="{% url 'restaurant-sign-out' %}?next={{ request.path }}"
            class="btn btn-pink">Logout
        </a>
    </nav>
{% endblock %}
